/*
Theme Name: Prueba_SMdigital
Description: Tema personalizado inspirado en https://www.australiancurriculum.edu.au/
Author: Louis Jhosimar Ocampo Osorio
Version: 1.0
*/

/* Estilos para la cabecera (header.php) */
.site-header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

.site-logo img {
    max-width: 200px;
}

/* Estilos para el pie de página (footer.php) */
.site-footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

/* Estilos para el contenido (index.php, single.php, page.php) */
.site-main {
    margin: 20px;
}

.entry-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.entry-content {
    font-size: 16px;
}
/* Estilos para el menú superior y footer */
.site-header, .site-footer {
    background-color: #4C4F54;
    color: #fff;
}

/* Estilos para el texto en el menú superior y footer */
.site-header a, .site-footer a {
    color: #fff;
}

/* Estilos para los botones */
.button {
    background-color: #04A9F4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el hover de los botones */
.button:hover {
    background-color: #F6921E;
    color: #fff;
}

/* Estilos para el botón flotante de WhatsApp */
.whatsapp-float-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Color de WhatsApp */
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    transition: background-color 0.3s;
    animation: bounce 0.5s infinite; /* Animación de rebote */
}

.whatsapp-float-button img {
    width: 32px; /* Tamaño fijo de 32x32 píxeles */
}

.whatsapp-float-button:hover {
    background-color: #128C7E; /* Cambio de color al pasar el cursor por encima */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px); /* Altura del rebote */
    }
    60% {
        transform: translateY(-5px); /* Altura del rebote */
    }
}



